body{
	margin: 0;
	padding: 0;
	font-size: 20px;
}
#message_error{
	color: red;
}
.containter{
	width: 100%;

}
h1{
	color: #be1116;
}
.form_main{
	width: 350px;
	margin: 16% auto;
}
.cel{
	width: 300px;
	color: #be1116;
}
.cel span{
	width: 100px;
}
.form_main label{
	font-weight: bold;
}
#btn{
	margin-top: 5px;
}
input[type="text"], input[type="tel"], input[type="email"]{
	width: 90%;
    height: 50px;
    background: transparent;
    border: 1px solid #D4D4C8;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 17px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 5px;
    outline: 0;
    outline-offset: 0;
}
input[type='submit']{
	margin: 19px 0 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
    background-color: #BA1735; 
    align-items: center;
    justify-content: center;
    color: #fff;
 	width: 100%;
 	cursor: pointer;
 	font-weight: bolder;
 	border: none;
 	margin: 5px;
 	font-size: 18px;
}

input:focus {
	
    border-bottom: 2px solid #BA1735;
}
#res{
	width: 100%;
	margin: 0 auto;
}
table tr td{
	padding: 10px;
}
 .flex-container {
                display: flex;
                width: 90%;
                margin: 20px auto;
            }
            .column {
                flex-direction: row;
            }
.flex-item h2{
	text-align: center;
}
            .flex-item {
                color: #000;
                border: 1px solid #eee;
                padding: 20px;
                width: 30%;
                text-align: justify;
            }

@media screen and (max-width:300px){
	.containter{
		touch-action: auto;
	}
				.form_main{
					width: 90%;
					margin: 10px;

				}
				.form_main input{
					width: 90%;
				}

			}